.div-form {
    margin-top: 20px;
}

form {
   display: flex;
   flex-wrap: wrap;
   width:100%;
   margin:.5rem;
   justify-content: space-between;
}

label {
    /* margin-right: 10px; */
}
input{
    width:150px;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.hide {
    display: none;
}

.selected {
    color: gold;
}

.submit-form{
    margin-left:47%;
    margin-top:2%;
    border:1px solid black;
    padding:.2rem;
    box-shadow: 2px 2px 2px 2px black;
    background-color: blue;
    cursor: pointer;
}