.div-form {
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}



.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.hide {
    display: none;
}

.selected {
    color: gold;
}
