.pricing-table{
    border:1px solid black;
    width:50%;
    margin:0 auto;
}

h1{
    text-align: center;
}

.pricing-table th{
    border:1px solid black;
}

.pricing-table td{
    border:1px solid black;
}

