.pricing-table{
    border: 1px solid #555; /* Dark grey border */
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.pricing-table th{
    border: 1px solid #555; /* Dark grey border */
}

.pricing-table td{
    border: 1px solid #555; /* Dark grey border */
}

.selected-tier{
    background-color: #f5f5dc; /* Beige background */
}
