.table-for-cells th{
    padding: 10px;
    border: 1px solid #555; /* Dark grey border */
    width: 100%; 
    text-align: center;
    margin-left: 1rem;
}

.tr-for-cell-rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    width: 87vw;
    margin-right: 2rem;
}

/* Background color for the body */
body {
    background-color: #0e2a47; /* Deep blue background */
}



/* Table row styling */
tr {
    background-color: #1f4068; /* Dark blue row background */
}

/* Table data styling */
td, th {
    padding: 10px;
    border: 1px solid #1f4068; /* Dark blue border */
    color: #ffffff; /* White text color */
}

/* Hover effect on table rows */
tr:hover {
    background-color: #3c6eaf; /* Light blue hover color */
}


.table-for-cells {
    width: 83%; 
    border-collapse: collapse;
    table-layout: fixed;
}

.tr-for-cell-rows td {
    width: 175px;
    text-align: center;
}

table{
        border: 1px solid #1f4068; /* Dark blue border */
  
}

.tr-for-cell-rows{
    margin-left: 2rem;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.hide {
    display: none;
}

.selected {
    color: #ffea00; /* Bright yellow text color */
    background-color: #1f4068; /* Dark blue background */
}