.table-for-cells th{
    padding: 10px;
    border: 1px solid black;
    width: 30%; /* Adjust this value to match your desired width */
    text-align: center;
}


.tr-for-cell-rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    /* width: 100%; */
}

.table-for-cells {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tr-for-cell-rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    width:87vw;
}

.tr-for-cell-rows td {
    padding: 10px;
    /* border: 1px solid black; */
    width: 100px;
    text-align: center;
}

.tr-for-cell-rows td input{
    margin-left:10%;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.hide {
    display: none;
}

.selected {
    color: gold;
}
