.table-for-cells th{
    padding: 10px;
    border: 1px solid black;
    width: 100%; 
    text-align: center;
    margin-left:1rem;
}



.tr-for-cell-rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0.5rem; */
    /* width: 100%; */
}

.table-for-cells {
    width: 83%; 
    border-collapse: collapse;
    table-layout: fixed;
}

.tr-for-cell-rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    width:87vw;
    margin-right:2rem;
}

.tr-for-cell-rows td {
    padding: 10px;
    /* border: 1px solid black; */
    width: 175px;
    text-align: center;
    border:1px solid black;
}

.tr-for-cell-rows td input{

}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.hide {
    display: none;
}

.selected {
    color: gold;
}

/* 
.p-square-footage{
    text-align: center;
}  */